.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode/*
!.vscode/tasks.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Include necessary vscode files
!.vscode/tasks.json
!.vscode/launch.json

# Local files for the backend's Docker
docker/run-docker.ps1
docker/logs/*
!docker/logs/README.md

# Cypress files
cypress/screenshots/
cypress/videos/
