// Styles common to the edition cards
.card-title {
    @extend .card-font;
    font-weight: $font-weight-3 !important;
    color: $black;
    margin-bottom: 1px;
}

.no-images {
    @extend .card-title;
    font-size: $font-size-1 !important;
}

.card-decoration:hover { // *
    text-decoration: none;
}

.card-font { 
    font-style: $font-style;
    font-weight: $font-weight-1;
    font-size: $font-size-2;
    font-family: $font-family;

}
.card-label {
    @extend .card-font;
    color: $grey;
    margin-bottom: 0.1rem;
    /* margin-bottom: 1px; */
    margin-left: 0.1rem;
}

.card-img-top { // *
    max-height: 2.6rem;
    max-width: 5rem;
}

.card-date { // *
    color: $black;
    margin-left: 0.1rem;
    margin-bottom: 0.1rem;
}

.link-row {
    cursor: default;
    img {
        cursor: default;
    }
}

