

$font-family:'AvenirLTStd-Light';
$font-style: normal;
$font-weight-1: 500;
$font-weight-2: 600;
$font-weight-3: 800;
$font-weight-4: 900;
$font-size-1: 14px;
$font-size-2: 16px;
$font-size-3: 18px;
$font-size-4: 28px;

