$red:#d8000c;
$yellow-select:#FFFF99;
$dark-not-select:darkslategray;
$black:#0A142E;
$orange: #ef6b1e77;
$light-orange:#FFEDE2;
$light-grey:#eeeff1;
$blue: #145af3;
$grey: #7884a1;
$backround-grey:#E5E5E5;
$dark-backround-grey:#bdbdbd;
$dark-grey: #adb4c5 ;
$green: #5dcb6f4f;
$light-greend:#E1FFE6;
$white: white;
$virtual-artefact-outline-color: gray;

$qumran-white: #fef4ee;
$toolbar-background: white;


