$red:#d8000c;
$yellow-select:#FFFF99;
$dark-not-select:darkslategray;
$black:#0A142E;
$orange: #EF6B1E;
$light-orange:#FFEDE2;
$light-grey:#eeeff1;
$blue: #145af3;
$grey: #7884a1;
$green: #5DCB6F;
$light-greend:#E1FFE6;


